* {
    margin: 0px;
    padding: 0px; 
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

header {
    font-size: xx-large;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
}

form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



#textFields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

#textFields input {
    height: 28px;
    padding: 1% 0 1% 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    outline-color: rgb(141, 204, 245);
}

#textFields > .smBox {
    width: 46%; 
}

#textFields > .lgBox {
    width: 100%; 
}

#termsAndCondition {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

#checkboxContainer {
    width: 20%;
    white-space: nowrap;
}

#checkboxContainer > label {
    font-weight: bold;
}

#termsAndCondition > p {
    width: 70%;
    min-width: 234px;
}

#termsAndCondition > p > span {
    margin: 0 3px 0 1px; 
    padding: 3px;
    font-size: small;
    border-radius: 3px; 
}

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons > button {
    
    height: 35px;
    width: 47%;
    font-weight: bold;
    color:white; 
    border: none;
    border-radius: 5px; 
    
}

.registerBox {   
    color:white; 
    background-color: rgba(65, 149, 204, 0.9);
}

#registerButton:hover {
    
    background-color: rgb(65, 149, 204, 1.0);
}

#signInButton {
    background-color: rgb(42, 188, 96, 0.9);
}

#signInButton:hover {
    background-color: rgb(42, 188, 96, 1.0);
}


footer {
    width: 50%;
    justify-self: flex-end;
    padding-bottom: 10px;

}

footer > p {
    text-align: center;
}

@media only screen and (max-width: 630px) {
    #termsAndCondition {
        flex-direction: column;
        justify-content: center;
    }
    #termsAndCondition > p {
        margin: 5px 0 5px 0;
        width: 100%;
        min-width: auto; 
    }
}

